@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #121212;
  font-family: "YuGothic", "Yu Gothic", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  color: #121212;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

/* header */
#header {
  .logo {
    width: 100%;
    max-width: 130px;
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 30;

    @media screen and (max-width: 767px) {
      max-width: 100px;
    }

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  .hamburger {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;

    span {
      position: absolute;
      width: 30px;
      height: 2px;
      background: #121212;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.4s;

      &:nth-child(1) {
        top: 24px;
      }

      &:nth-child(2) {
        top: 34px;
      }
    }

    &.active span:nth-child(1) {
      transform: translateX(-50%) rotate(30deg);
      top: 29px;
    }

    &.active span:nth-child(2) {
      transform: translateX(-50%) rotate(-30deg);
      top: 29px;
    }
  }

  .navi {
    width: 100%;
    height: 100vh;
    background: #f2f9fd;
    position: fixed;
    padding: 100px 20px;
    z-index: 20;
    top: 0;
    left: 0;
    transition: all 0.6s;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    .menu-area {
      width: 100%;
      height: 100vh;
      overflow: auto;

      .menu {
        max-width: 640px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px 20px 0 0;
        background: #fff;
        margin-inline: auto;
        padding: 80px 80px 20px;
        gap: 0 20px;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          padding: 20px;
        }

        li {
          width: 46%;
          border-bottom: 1px dashed #121212;
          position: relative;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          &::after {
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            border-top: 2px solid #221212;
            border-right: 2px solid #221212;
            transform: rotate(45deg);
            top: 38px;
            right: 10px;
          }

          &:nth-child(-n + 2) {
            border-top: 1px dashed #121212;

            @media screen and (max-width: 767px) {
              border-top: none;
            }
          }

          a {
            display: block;
            padding-block: 30px;
          }
        }
      }

      .btn {
        max-width: 640px;
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 0 0 20px 20px;
        margin-inline: auto;
        padding: 20px 80px 80px;
        gap: 20px;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          padding: 20px 20px 40px;
        }

        li {
          width: 46%;
          background: #ffef00;
          border-radius: 20px;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            padding-block: 20px;

            .arrow {
              width: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

/* mv */
.mainvisual {
  position: relative;

  img {
    width: 100%;
  }

  .wave {
    position: absolute;
    bottom: -2px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

/* about */
#about {
  padding-block: 80px;
  position: relative;
  text-align: center;

  @media screen and (max-width: 767px) {
    padding-block: 40px;
  }

  .title {
    font-size: 48px;
    font-weight: 700;

    @media screen and (max-width: 767px) {
      font-size: 34px;
    }
  }

  .text {
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    margin-top: 50px;

    @media screen and (max-width: 767px) {
      font-size: 14px;
      margin-top: 20px;
    }
  }

  .img {
    position: absolute;
    width: 95%;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -10;
    animation: swing 3s ease infinite;
  }
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* parallax */
.parallax {
  width: 100%;
  height: 600px;
  background: url(../img/parallax.jpg) fixed center / cover;
  position: relative;

  @media screen and (max-width: 767px) {
    height: 400px;
    background-attachment: scroll;
  }

  .wave-top {
    width: 100%;
    position: absolute;
    top: -2px;

    img {
      width: 100%;
    }
  }

  .wave-bottom {
    position: absolute;
    bottom: -2px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

/* common */
.wrapper {
  max-width: 1240px;
  padding-inline: 20px;
  margin-inline: auto;
}

.section-title {
  margin-bottom: 60px;
  text-align: center;

  .text {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    display: inline-block;

    @media screen and (max-width: 767px) {
      font-size: 26px;
    }

    &::before,
    &::after {
      content: "";
      width: 50px;
      height: 62px;
      position: absolute;
      top: -3px;

      @media screen and (max-width: 767px) {
        width: 25px;
        height: 31px;
        top: 3px;
      }
    }

    &::before {
      background: url(../img/icon-tree-l.png) no-repeat center / contain;
      left: -60px;

      @media screen and (max-width: 767px) {
        left: -30px;
      }
    }

    &::after {
      background: url(../img/icon-tree-r.png) no-repeat center / contain;
      right: -60px;

      @media screen and (max-width: 767px) {
        right: -30px;
      }
    }
  }
  .img {
    display: block;
    max-width: 80px;
    margin: -10px auto 0;
  }
}

/* introduction */
#introduction {
  padding-top: 80px;

  @media screen and (max-width: 767px) {
    padding-top: 40px;
  }

  .item {
    display: flex;
    margin-bottom: 60px;

    &.tour1 {
      @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 20px;
      }
    }

    &.tour2 {
      @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }

    .img {
      max-width: 640px;
    }

    .text {
      max-width: 560px;
      padding: 0 6%;

      .content-title {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        @media screen and (max-width: 767px) {
          margin-bottom: 20px;
        }

        .title-img {
          width: auto;
          height: 130px;
          margin-right: 30px;

          @media screen and (max-width: 767px) {
            height: 80px;
            margin-right: 20px;
          }
        }

        .title-text {
          font-size: 28px;
          margin-top: 25px;

          @media screen and (max-width: 767px) {
            font-size: 22px;
            margin-top: 15px;
          }
        }
      }

      .description {
        height: 80px;
        line-height: 1.8;
        margin-bottom: 30px;
        overflow: hidden;
        text-align: justify;
      }

      .btn {
        max-width: 140px;
        border: 1px solid #121212;
        border-radius: 10px;
        cursor: pointer;
        display: block;
        font-size: 12px;
        padding: 8px 0;
        text-align: center;
        position: relative;

        &::before {
          content: "";
          width: 11px;
          height: 1px;
          background: #121212;
          position: absolute;
          top: 17px;
          right: 14px;
        }

        &::after {
          content: "";
          width: 1px;
          height: 11px;
          background: #121212;
          position: absolute;
          top: 12px;
          right: 19px;
        }
      }
    }
  }
}
