@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #121212;
  font-family: "YuGothic", "Yu Gothic", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  color: #121212;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

/* header */
#header {
  .logo {
    width: 100%;
    max-width: 130px;
    position: fixed;
    top: 15px;
    left: 20px;
    z-index: 30;

    @media screen and (max-width: 767px) {
      max-width: 100px;
    }

    a {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  .hamburger {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;

    span {
      position: absolute;
      width: 30px;
      height: 2px;
      background: #121212;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.4s;

      &:nth-child(1) {
        top: 24px;
      }

      &:nth-child(2) {
        top: 34px;
      }
    }

    &.active span:nth-child(1) {
      transform: translateX(-50%) rotate(30deg);
      top: 29px;
    }

    &.active span:nth-child(2) {
      transform: translateX(-50%) rotate(-30deg);
      top: 29px;
    }
  }

  .navi {
    width: 100%;
    height: 100vh;
    background: #f2f9fd;
    position: fixed;
    padding: 100px 20px;
    z-index: 20;
    top: 0;
    left: 0;
    transition: all 0.6s;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    .menu-area {
      width: 100%;
      height: 100vh;
      overflow: auto;

      .menu {
        max-width: 640px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px 20px 0 0;
        background: #fff;
        margin-inline: auto;
        padding: 80px 80px 20px;
        gap: 0 20px;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          padding: 20px;
        }

        li {
          width: 46%;
          border-bottom: 1px dashed #121212;
          position: relative;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          &::after {
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            border-top: 2px solid #221212;
            border-right: 2px solid #221212;
            transform: rotate(45deg);
            top: 38px;
            right: 10px;
          }

          &:nth-child(-n + 2) {
            border-top: 1px dashed #121212;

            @media screen and (max-width: 767px) {
              border-top: none;
            }
          }

          a {
            display: block;
            padding-block: 30px;
          }
        }
      }

      .btn {
        max-width: 640px;
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 0 0 20px 20px;
        margin-inline: auto;
        padding: 20px 80px 80px;
        gap: 20px;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          padding: 20px 20px 40px;
        }

        li {
          width: 46%;
          background: #ffef00;
          border-radius: 20px;

          @media screen and (max-width: 767px) {
            width: 100%;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            padding-block: 20px;

            .arrow {
              width: 20px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

/* mv */
.mainvisual {
  position: relative;

  img {
    width: 100%;
  }

  .wave {
    position: absolute;
    bottom: -2px;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
